@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --color-cyberDark: #0b0f19;
  --color-cyberCard: #131c2e;
  --color-cyberGreen: #10b981;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #0b0f19;
  color: #f8fafc;
  overflow-x: hidden;
}
